<%- include('header'); %>
    <div class="homeSection">
        <h1>Home</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla cum, cupiditate ipsum voluptatum sequi,
            nostrum
            voluptatibus eius ipsa officia fuga veniam ratione magni libero aspernatur modi perferendis harum veritatis,
            autem iste in debitis praesentium illo. Officia, illo? Pariatur corrupti mollitia cumque repellat atque
            beatae
            qui soluta accusantium porro illo explicabo itaque excepturi ut maiores, dolores dignissimos voluptatum
            deserunt
            nobis odit nam sunt obcaecati! Amet numquam laborum iste nostrum aspernatur eos quod optio non quae! Numquam
            voluptatem praesentium, dolorum culpa magni minus facere quidem vitae ea obcaecati eaque impedit, ab a
            accusantium porro repellat nesciunt dolorem reprehenderit harum deserunt? Facilis magni ratione ipsam eaque,
            omnis, consequuntur laudantium quasi dolores error vel a! Eaque explicabo ut maiores velit, temporibus
            optio!
            Perferendis iure aut, sunt itaque, dolorem rerum officiis, optio reprehenderit aliquid adipisci accusantium!
            Vel
            magni facere quam at provident ut tenetur cum sunt? Harum veniam neque asperiores quam. Tempora magnam ab
            adipisci.</p>
            <% posts.forEach(post => { %>
                <h1><%= post.title  %></h1>
             <p><%= post.content.substring(1,100)+ "..." %>
            <a href="posts/<%=post.title%>">Read More</a>
            </p> 
            <% }) %> 
            
    </div>

    <%- include('footer'); %>